.tooltip text {
	font-family:Arial;
	font-size: 12px;
}

.line {
  fill: none;
  stroke: #EF5285;
  stroke-width: 2px;
}

.text {
	font-family:Arial;
	font-size:12px;
}

.loading {
  color: #666;
  text-align: center;
  font-size: 0.9em;
}

#chart
{
  margin: 0 auto;
  display: block;
}